.p-custom {
  margin-top: 3rem;
  font-size: 25pt;
}
.link-custom {
  text-decoration: none !important;
  font-size: 30pt;
}
.headline-custom {
  margin-bottom: 2em !important;
}
.bg-light {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.img-fluid {
  border: 3px solid white;
}